#bag{
    width: 200px;
    height: 400px;
    border: 1px solid #eee;
    margin: 0 auto;
    background-image: url(./img/biyan.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#bag.burst{
    background-image: url('./img/zhengyan.jpg')
}
#bag-health{
    width: 200px;
    height: 20px;
    border: 2px #000 solid;
    margin: 20px auto;
}
#bag-health div{
    height: 20px;
    background-color: crimson;
}
#controls{
    /* border: 1px solid #eee; */
    width: 200px;
    margin: 0 auto;
}
#controls button{ 
    margin-left: 20px;
}